<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="application.properties" />
	<!-- <typeAliases> -->
	<!-- <typeAlias type="com.sivalabs.mybatisdemo.domain.User" -->
	<!-- alias="User"></typeAlias> -->
	<!-- </typeAliases> -->
	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<environments default="development">
		<environment id="dev">
			<transactionManager type="JDBC" />
			<dataSource type="vn.com.arillance.cleanhome.dao.C3P0DataSourceFactory">
				<property name="driverClass" value="${dev.jdbc.driverClassName}" />
				<property name="jdbcUrl" value="${dev.jdbc.url}" />
				<property name="user" value="${dev.jdbc.username}" />
				<property name="password" value="${dev.jdbc.password}" />
				<property name="minPoolSize" value="3" />
				<property name="maxPoolSize" value="40" />
				<property name="acquireIncrement" value="3" />
				<property name="acquireRetryDelay" value="3000" />
				<property name="breakAfterAcquireFailure" value="false" />
				<property name="maxConnectionAge" value="20" />
				<property name="maxIdleTime" value="15" />
				<property name="maxIdleTimeExcessConnections" value="15" />
				<property name="idleConnectionTestPeriod" value="10" />
				<property name="debugUnreturnedConnectionStackTraces"
					value="true" />
				<property name="autoCommitOnClose" value="true" />

			</dataSource>
		</environment>
		<environment id="pro">
			<transactionManager type="JDBC" />
			<dataSource type="vn.com.arillance.cleanhome.dao.C3P0DataSourceFactory">
				<property name="driverClass" value="${pro.jdbc.driverClassName}" />
				<property name="jdbcUrl" value="${pro.jdbc.url}" />
				<property name="user" value="${pro.jdbc.username}" />
				<property name="password" value="${pro.jdbc.password}" />
				<property name="minPoolSize" value="3" />
				<property name="maxPoolSize" value="40" />
				<property name="acquireIncrement" value="3" />
				<property name="acquireRetryDelay" value="3000" />
				<property name="breakAfterAcquireFailure" value="false" />
				<property name="maxConnectionAge" value="20" />
				<property name="maxIdleTime" value="15" />
				<property name="maxIdleTimeExcessConnections" value="15" />
				<property name="idleConnectionTestPeriod" value="10" />
				<property name="debugUnreturnedConnectionStackTraces"
					value="true" />
				<property name="autoCommitOnClose" value="true" />


			</dataSource>
		</environment>
	</environments>
	<mappers>
		<!-- <package name="vn.com.arillance.cleanhome.mapper.*"/> -->				
		<mapper resource="vn/com/arillance/mapper/UserMapper.xml" />
		<mapper resource="vn/com/arillance/mapper/OrderMapper.xml" />
		<mapper resource="vn/com/arillance/mapper/MailMapper.xml" />
	</mappers>
</configuration>